.hover {
  background:green;
  color:white;
  padding:15px;
}

.hover:hover {
  background:darkgreen;
  transform:scale(2.1); 
}

.option { 
display: none;
  background: grey;
  padding: 6px;
}
.dropdown:hover .options{
  display: block; 
}
.options a {
  display: block; 
  padding: 5px;
  color: black;
}

.zoomimage {
  transtion: 0.3; 
}

.zoomimage: hover { 
transform: scale (1.2);
}
