.hover {
  padding: 15px;
  background: green;
  color: white;
}

.hover:hover {
  background:darkgreen;  
  transform:scale(1.1);   
}


.zoomimage {
  transition: 0.3s;       
}

.zoomimage:hover {
  transform: scale(1.2);   
}
