.hover {
  padding: 15px;
  background: green;
  color: white;
}

.hover:hover {
  background:darkgreen;  
  transform:scale(1.1);   
}


.zoomimage {
  transition: 0.3s;       
}

.zoomimage:hover {
  transform: scale(1.2);   
}

options {
  display: none;        
  background: grey;     
  padding: 4px;         
}

.dropdown:hover .options {
  display: block;      
}

.options a {
  display: block;       
  padding: 5px;        
  text-decoration: none;
  color: black;
}
